.font-size{
    font-size: 30px;
    font-weight: 600;
}
.Navbuttons {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.homePage{
    cursor: pointer;
}
.switch{
    padding: 10px;
}
label{
    width: 100px;
}
.bg-light{
    background-color: rgb(188 204 222) !important;
}